.back{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .back a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
  }

  .back :hover {
    background-color: #0056b3;
  }